.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
}
.navbar a{
    color: #000;
    text-decoration: none;
}
.navbar li{
    margin: 0 12.5px;
}
.cart{
    position: relative;
    margin-right: 28px;
}
.cart span {
    position: absolute;
    top: -15px;
    right: -5px;
    background-color: #0156FF;
    padding: 0 7px;
    margin: 0;
    border-radius: 44%;
    color: #fff;
}
.navbar_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_right button{
    margin-right: 28px;
    border: none;
    background-color: inherit;
}