.homeCarousel{
    height: 300px;
    overflow: hidden;
}
.newProducts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.card_wrapper{
    margin: 30px 0;
}
.homeCatalog{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.card_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.companies{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.news_wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.new{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.new p{
    color: #4e4e4e;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
}
.new b{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: center;
}
.news h3{
    font-family: 'Poppins';
    margin: 50px 0;
}
.Testimonial{
    background-color: #F5F7FF;
    margin: 60px;
    padding: 50px;

}
.carousel_item{
    background-color: inherit;
    display: flex;
    justify-content: space-between;

}
.carousel_item svg{
    font-size: 30px !important;
    align-self: start;
}
.services{
    display: flex;
    margin: 80px 0;
    align-items: center;
    justify-content: space-between;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 50px;
    text-align: center;
}
.services .icon svg{
    padding: 30px;
    background-color: #0156FF;
    color: #fff;
    font-size: 36px;
    border-radius: 50%;
}

.service p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
}